{% extends "eyemate/master.html" %} {% load static %} {% block content %}

<!-- header section  -->

<section class="heading">
  <h1>OUR PRODUCTS</h1>
  <p><a href="{% url 'store' %}">home</a> >> products</p>
</section>

<!-- header section -->

<!-- header section -->

<section class="products">
  <h1 class="title" id="h1title">premium glasses</h1>

  <br />

  <div class="box-container">
    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>

        <a href="{% url 'store13' %}"
          ><img src="{% static 'images/product-1.jpg' %}" alt=""
        /></a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-2.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-3.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-4.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-5.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-6.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-7.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-8.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-9.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-10.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-11.webp' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-12.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-13.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/product-14.jpeg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>

        <a href="{% url 'store13' %}"
          ><img src="{% static 'images/product-15.jpg' %}" alt=""
        /></a>
      </div>
      <div class="content">
        <h3>premium glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br />

  <h1 class="title" id="h1title">computer glasses</h1>

  <br />

  <div class="box-container">
    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer1.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer2.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer3.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer4.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer5.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer6.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer7.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer8.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer9.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer10.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer11.jpeg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer12.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer13.jpeg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer14.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/computer15.jpeg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>coumputer glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br />

  <h1 class="title" id="h1title">sun glasses</h1>

  <br />

  <div class="box-container">
    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun1.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun2.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun3.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun4.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun5.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun6.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun7.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun8.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun9.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun10.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun11.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun12.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun13.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun14.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <div class="icons">
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-share-alt"></a>
          <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
        </div>
        <a href="{% url 'store13' %}">
          <img src="{% static 'images/sun15.jpg' %}" alt="" />
        </a>
      </div>
      <div class="content">
        <h3>sun glasses</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">₹1000.00 <span>₹1500.00</span></div>
      </div>
    </div>
  </div>
</section>

<!-- prodcuts section ends -->

{% endblock %}
