{% extends "eyemate/master.html" %}
{% load static %}

{% block content %}



<!-- header section  -->

<section class="heading">
    <h1>OUR PRODUCTS</h1>
    <p> <a href="{% url 'store' %}">home</a> >> sun glasses </p>
</section>

<!-- header section -->


<section class="products">

    <h1 class="title"> featured products </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun1.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun2.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun3.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun4.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun5.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun6.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun7.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun8.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun9.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun10.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun11.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun12.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun13.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun14.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share-alt"></a>
                    <a href="{% url 'store9' %}" class="fas fa-shopping-bag"></a>
                </div>
                <a href="{% url 'store13' %}"></a>
                <img src="{% static 'images/sun15.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>sun glasses</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">₹1000.00 <span>₹1500.00</span></div>
            </div>
        </div>

    </div>

</section>

<!-- prodcuts section ends -->





{% endblock %}