{% extends "eyemate/master.html" %}
{% load static %}

{% block content %}



<!-- header section  -->

<section class="heading">
    <h1>ACCOUNT</h1>
    <p> <a href="{% url 'store' %}">home</a> >> wishlist</p>
</section>

<!-- header section ends-->


<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">My Wishlist
      <!-- <small>Secondary Text</small> -->
    </h1>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-6 wishlist-img">
        <a href="#">
          <img class="img-fluid rounded mb-1 mb-md-0" src="{% static 'images/sun12.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-md-5 wishlist-note">
        <h3>sun glass</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">₹1000.00 <span>₹1500.00</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.
             Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  lo</p>
        <a class="btn cart-btn" id="" href="#">Add to cart</a>
        <a class="btn  remove-btn" href="#">Remove</a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-6 wishlist-img">
          <a href="#">
            <img class="img-fluid rounded mb-1 mb-md-0" src="{% static 'images/sun11.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-5 wishlist-note">
          <h3>sun glass</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">₹1000.00 <span>₹1500.00</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.
               Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  lo</p>
          <a class="btn  cart-btn" id="" href="#">Add to cart</a>
          <a class="btn  remove-btn" href="#">Remove</a>
        </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-6 wishlist-img">
          <a href="#">
            <img class="img-fluid rounded mb-1 mb-md-0" src="{% static 'images/product-2.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-5 wishlist-note">
          <h3>premium glass</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">₹1000.00 <span>₹1500.00</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.
               Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  lo</p>
          <a class="btn  cart-btn" id="" href="#">Add to cart</a>
          <a class="btn  remove-btn" href="#">Remove</a>
        </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">
        <div class="col-md-6 wishlist-img">
          <a href="#">
            <img class="img-fluid rounded mb-1 mb-md-0" src="{% static 'images/computer1.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-5 wishlist-note">
          <h3>computer glass</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">₹1000.00 <span>₹1500.00</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.
               Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  lo</p>
          <a class="btn  cart-btn" id="" href="#">Add to cart</a>
          <a class="btn  remove-btn" href="#">Remove</a>
        </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">6</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->



{% endblock %}