


.about .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .image img {
  width: 100%;
  border-radius: .5rem;
}

.about .row .content {
  padding-left: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: #333;
  line-height: 2;
}

.about .row .content p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #666;
  padding: 1rem 0;
}

.about .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.about .icons-container .icons {
  padding: 3rem 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  text-align: center;
  cursor: pointer;
}

.about .icons-container .icons:hover {
  background: #333;
}

.about .icons-container .icons:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
        
}

.about .icons-container .icons:hover h3 {
  color: #fff;
}

.about .icons-container .icons img {
  height: 7rem;
  margin-bottom: 1rem;
}

.about .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #333;
}


.about-foot img{
  width: 100%;

}

