.products .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
    border-radius: .5rem;
    text-align: center;
    border: 0.2rem solid #333;
}

.products .box-container .box:hover .image .icons {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border: none;
}

.products .box-container .box .image {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    height: 25rem;
    width: 100%;
}

.products .box-container .box .image .icons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.2rem solid #333;
    -webkit-transform: translateY(-7rem);
    transform: translateY(-7rem);
}

.products .box-container .box .image .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
}

.products .box-container .box .image .icons a:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
}

.products .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 10px;
}

.products .box-container .box .image img:hover {
    transition-duration: 0.2s;
    padding: 0;
  
  }

.products .box-container .box .content {
    padding: 1.5rem 0;
}

.products .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
}

.products .box-container .box .content .stars {
    padding: 1rem 0;
}

.products .box-container .box .content .stars i {
    font-size: 1.4rem;
    color: #e84393;
}

.products .box-container .box .content .price {
    font-size: 2.2rem;
    color: #333;
}

.products .box-container .box .content .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #666;
}